@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin: 1rem;
}

.type_plan {
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.radio span {
    margin: 10px;
}

#id_typePlan_0 {
    display: flex;
    margin: auto;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
}

#id_typePlan_0:checked {
    border: 6px solid #f39c12;
}

.radio0 {
    display: flex;
    margin: 0 1.5rem;
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #cccccc;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: larger;
    width: 15rem;
    transition: transform .5s ease;
}

.radio0:hover {
    transform: scale(1.2);
}

.radio0_0 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.radio0_0 img {
    width: 20%;
}

#id_typePlan_1 {
    display: flex;
    margin: auto;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
}

#id_typePlan_1:checked {
    border: 6px solid #f39c12;
}

input[type=submit] {
    font-family: "Lato", sans-serif;
    font-size: x-large;
    color: white;
    background-color: #f39c12;
    box-shadow: 5px 5px 5px #cccccc;
    border: 1px solid #cccccc;
    border-radius: 10px;
    width: 12rem;
    padding: 10px;
    margin-top: 2rem;
}

.mail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail label {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

input[type=email] {
    width: auto;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border-radius: 10px;
    color: #f39c12;
    box-shadow: inset 5px 5px 5px #cccccc;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.footer img {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}