@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.question {
    text-align: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.radio span {
    margin: 10px;
}

.radio_1 {
    display: flex;
    flex-direction: column-reverse;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #cccccc;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: larger;
}

.radio_1 input {
    display: flex;
    margin: auto;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
}

.radio_1 input:checked {
    border: 6px solid #f39c12;
}

.radio_1 label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.radio_2 {
    display: flex;
    flex-direction: column-reverse;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #cccccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #cccccc;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: larger;
}

.radio_2 input {
    display: flex;
    margin: auto;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #999;
    transition: 0.2s all linear;
}

.radio_2 input:checked {
    border: 6px solid #f39c12;
}


.radio_2 label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type=number] {
    -webkit-appearance: textfield; /* Masque l'arrière-plan fléché dans certains navigateurs */
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  /* Styles pour les boutons up et down dans le champ number */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Désactive les flèches dans Chrome et Safari */
    margin: 0; /* Supprime la marge par défaut dans Firefox */
  }

.next {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.next button {
    font-family: "Lato", sans-serif;
    font-size: x-large;
    color: white;
    background-color: #f39c12;
    box-shadow: 5px 5px 5px #cccccc;
    border: 1px solid #cccccc;
    border-radius: 10px;
    width: 12rem;
    padding: 10px;
}

.footer img {
    position: absolute;
    width: 100%;
    z-index: -1;
}