{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/style.css" %}">
    </head>
    <body>
        <div class="body">
            <div class="entete">
                <a href="{% url 'accueil-url' %}"><img src="{% static "images/Capture_decran_2024-02-20_130616.png" %}" /></a>
            </div>
            {% comment %} ------------------------------------------- {% endcomment %}
            <form method="post">
                {% csrf_token %}
                <div class="question" style="display:block;">
                    <label for="id_sex" class="sex">Quel est votre genre ?</label>
                    <div id="id_sex" class="radio">
                        <div>
                            <label for="id_sex_0" class="radio0">
                                <input type="radio" name="sex" value="0" required id="id_sex_0">
                                <span>Homme</span>
                                <img src="{% static 'images/boy_svg.svg' %}" />
                            </label>
                        </div>
                        <div>
                            <label for="id_sex_1" class="radio1">
                                <input type="radio" name="sex" value="1" required id="id_sex_1">
                                <span>Femme</span>
                                <img src="{% static 'images/girl_svg.svg' %}" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="question">
                    <div class="div">
                        <label for="id_age">Quel âge avez-vous ?</label>
                        <div class="div0">
                            <input type="number" name="age" placeholder="Âge" maxlength="32" required id="id_age">
                            ans
                        </div>
                    </div>
                </div>
                <div class="question">
                    <div class="div">
                        <label for="id_weight" class="weight">Combien pesez-vous ?</label>
                        <div class="div0">
                            <input type="number" name="weight" placeholder="Poids" required id="id_weight">
                            kg
                        </div>
                    </div>
                </div>
                <div class="question">
                    <div class="div">
                        <label for="id_size" class="size">Combien mesurez-vous ?</label>
                        <div class="div0">
                            <input type="number" name="size" placeholder="Taille" maxlength="100" required id="id_size">
                            cm
                        </div>
                    </div>
                </div>
                <div class="question">
                    <div class="summary">
                        <h2>Résumé du formulaire :</h2>
                        <p>Genre : <span id="summary-sex"></span></p>
                        <p>Âge : <span id="summary-age"></span> ans</p>
                        <p>Poids : <span id="summary-weight"></span> kg</p>
                        <p>Taille : <span id="summary-size"></span> cm</p>
                    </div>
                    <input type="submit" value="Envoyer">
                </div>
            </form>
            <div class="next">
                <button>Suivant</button>
            </div>
        </div>
        {% comment %} ------------------------------------------- {% endcomment %}
        <div class="footer">
            <img src="{% static "images/footer_svg.svg" %}" />
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var questions = document.querySelectorAll('.question');
                var summarySex = document.getElementById('summary-sex');
                var summaryAge = document.getElementById('summary-age');
                var summaryWeight = document.getElementById('summary-weight');
                var summarySize = document.getElementById('summary-size');

                var currentQuestion = 0;

                var nextButton = document.querySelector('.next button');

                nextButton.addEventListener('click', function() {
                    if (currentQuestion === 0) {
                        var radioInputs = document.querySelectorAll('input[type="radio"][name="sex"]');
                        var selectedValue = null;
                        radioInputs.forEach(function(radioInput) {
                            if (radioInput.checked) {
                                selectedValue = radioInput.value;
                            }
                        });
                        console.log(selectedValue);
                        if (selectedValue == 0){
                            summarySex.textContent = 'Homme';
                        }
                        else {
                            summarySex.textContent = 'Femme';
                        }
                        console.log(summarySex.textContent);
                    } else if (currentQuestion === 1) {
                        summaryAge.textContent = document.getElementById('id_age').value;
                        console.log(document.getElementById('id_age').value)
                    } else if (currentQuestion === 2) {
                        summaryWeight.textContent = document.getElementById('id_weight').value;
                        console.log(document.getElementById('id_weight').value)
                    } else if (currentQuestion === 3) {
                        summarySize.textContent = document.getElementById('id_size').value;
                        console.log(document.getElementById('id_size').value)
                    }

                    questions[currentQuestion].style.display = 'none';

                    currentQuestion++;

                    if (currentQuestion < questions.length) {
                        questions[currentQuestion].style.display = 'block';
                    } else {
                        nextButton.style.display = 'none';
                    }
                    if (currentQuestion === questions.length - 1) {
                        nextButton.style.display = 'none';
                    }
                });
            });
        </script>
    </body>
</html>